<script type="text/x-handlebars-template" id="categoria-template">
        <label name="categoria">{{name}}</label>
</script>

<script type="text/x-handlebars-template" id="grupo-template">
        <label name="grupo">{{name}}</label>
</script>

<script type="text/x-handlebars-template" id="parejas1-template">
    <label>Categoría: {{categoria.name}}</label>
    <label>Grupo: {{grupo.name}}</label>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador1</th>
                <th>Jugador2</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="pareja1-template">
    <th></th>
    <th>{{jugador1.name}}</th>
    <th>{{jugado2.name}}</th>
</script>

<script type="text/x-handlebars-template" id="parejas-template">
    <label>Categoría:</label>
</script>

<script type="text/x-handlebars-template" id="pareja-template">
    <label>Pareja:</label>
</script>