<script type="text/x-handlebars-template" id="categoria-template">
        <label name="categoria">{{name}}</label>
</script>

<script type="text/x-handlebars-template" id="grupo-template">
        <label name="grupo">{{name}}</label>
</script>

<script type="text/x-handlebars-template" id="parejas-template">
    <p>Categoría: {{categoria.name}}</p>
    <p>Grupo: {{grupo.name}}</p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador1</th>
                <th>Jugador2</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul class="pagination" limit="{{meta.limit}}" offset="{{meta.offset}}">
        <li id="previousPage" {{#if meta.firstPage}}class="disabled"{{/if}}><a href="#">&laquo;</a></li>
        {{#times meta.totalPages }}
            <li {{#compare ../meta.page "===" this}}
                class="active"
                {{/compare}}
                ><a href="#">{{this}}</a></li>
        {{/times}}
        <li id="nextPage"{{#if meta.lastPage}}class="disabled"{{/if}}><a href="#">&raquo;</a></li>
    </ul>
    <button id="volver-ranking" type="button" class="btn btn-default">Volver</button>
    <button id="partidos" type="button" class="btn btn-default">Partidos</button>
</script>

<script type="text/x-handlebars-template" id="pareja-template">
    <td></td>
    <td>{{jugador1.name}}</td>
    <td>{{jugador2.name}}</td>
</script>

<script type="text/x-handlebars-template" id="partidos-template">
    <p>Categoría: {{categoria.name}}</p>
    <p>Grupo: {{grupo.name}}</p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Pareja1</th>
                <th>Resultado</th>
                <th>Pareja2</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul class="pagination" size="{{meta.size}}" offset="{{meta.offset}}">
        <li id="previousPage" {{#if meta.firstPage}}class="disabled"{{/if}}><a href="#">&laquo;</a></li>
        {{#times meta.totalPages }}
            <li {{#compare ../meta.page "===" 1}}
                class="active"
                {{/compare}}
                ><a href="#">{{this}}</a></li>
        {{/times}}
        <li id="nextPage"{{#if meta.lastPage}}class="disabled"{{/if}}><a href="#">&raquo;</a></li>
    </ul>
    <button id="volver-ranking" type="button" class="btn btn-default">Volver</button>
</script>

<script type="text/x-handlebars-template" id="partido-template">
    <td>{{pareja1.jugador1.name}}/{{pareja1.jugador2.name}}</td>
    <td>{{resultado}}</td>
    <td>{{pareja2.jugador1.name}}/{{pareja2.jugador2.name}}</td>
</script>
